version: '3.9'

services:
  backend:
    image: ${BACKEND_IMAGE}
    container_name: backend
    env_file:
      - .env.prod
    environment:
      SPRING_PROFILES_ACTIVE: aws
      RDS_ENDPOINT: ${RDS_ENDPOINT}
      JWT_SECRET: ${JWT_SECRET}
      JAVA_OPTS: "--add-opens java.base/java.lang=ALL-UNNAMED"
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - hirehub-network

  frontend:
    image: ${FRONTEND_IMAGE}
    container_name: frontend
    depends_on:
      - backend
      - fastapi
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /etc/ssl/certs:/etc/ssl/certs:ro
    networks:
      - hirehub-network

  fastapi:
    image: ${FASTAPI_IMAGE}
    container_name: fastapi
    env_file:
      - .env.prod
    environment:
      NAVER_CLIENT_ID: ${FASTAPI_NAVER_CLIENT_ID}
      NAVER_CLIENT_SECRET: ${FASTAPI_NAVER_CLIENT_SECRET}
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - hirehub-network

networks:
  hirehub-network:
    driver: bridge