version: '3.9'
services:
   backend:
    image: ${BACKEND_IMAGE}
    container_name: backend
    env_file:
      - .env.prod
    environment:
      SPRING_PROFILES_ACTIVE: aws
      RDS_ENDPOINT: ${RDS_ENDPOINT}
      JWT_SECRET: ${JWT_SECRET}         # ✅ 이 줄 추가
      JAVA_OPTS: "--add-opens java.base/java.lang=ALL-UNNAMED"
    restart: unless-stopped
    ports:
      - "8080:8080"
  
   frontend:
    image: ${FRONTEND_IMAGE}
    container_name: frontend
    depends_on:
      - backend
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /etc/ssl/certs:/etc/ssl/certs:ro
