server:
  port: 8080
  forward-headers-strategy: framework  # Nginx 프록시 환경에서 필수

spring:
  datasource:
    url: jdbc:mysql://hirehub-db.cx2suwmo0815.ap-northeast-2.rds.amazonaws.com:3306/hirehub?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 4

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc.time_zone: Asia/Seoul

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            scope: openid,profile,email
            redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/google"
            client-name: Google
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-name: Naver
            redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope: [ name, email ]

        provider:
          google:
            issuer-uri: https://accounts.google.com
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

# === 앱 설정 ===
app:
  jwt:
    secret: "change-this-to-at-least-32-characters-secret-key-!!"
    access-expire-seconds: 3600
  front:
    base-url: "https://byeongarigaebaldan.store"
  cors:
    allowed-origins:
      - "https://byeongarigaebaldan.store"

kakao:
  oauth:
    redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/kakao"
    front-redirect-url: "https://byeongarigaebaldan.store/auth/callback"

naver:
  oauth:
    redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/naver"
    front-redirect-url: "https://byeongarigaebaldan.store/auth/callback"

google:
  oauth:
    redirect-uri: "https://byeongarigaebaldan.store/login/oauth2/code/google"
    front-redirect-url: "https://byeongarigaebaldan.store/auth/callback"

aws:
  s3:
    bucket: hirehub-s3-bucket
  credentials:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
  region: ap-northeast-2

logging:
  level:
    org.hibernate.SQL: info
    org.springframework.security: DEBUG
    com.we.hirehub: DEBUG
