server:
  port: 8080

# ★ AI 서버 URL 추가
ai:
  server-url: http://localhost:8000  # FastAPI 서버 주소

aws:
  s3:
    bucket: hirehub-s3
  credentials:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
  region: ap-northeast-2

spring:
  profiles:
    active: aws

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

  output:
    ansi:
      enabled: always

logging:
  level:
    com.we.hirehub: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG

app:
  jwt:
    secret: ${JWT_SECRET}
    access-expire-seconds: 360000
  front:
    base-url: "http://localhost:3000"  # ← 개발환경에서는 3000 포트로 설정
  cors:
    allowed-origins:
      - "http://localhost:3000"
      - "http://localhost:5173"